<a href="https://colab.research.google.com/github/KauaGabriel713/Aulas-python/blob/main/aula_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#exibe notas maiores que 7
notas = [8,9,4,3,6]

maiores = [nota for nota in notas if nota > 7]
print(maiores)

[8, 9]

In [ ]:
#exibe notas maiores que 5
notas = [9,7,4,3,6,2]
maiores = [nota for nota in notas if nota > 5]
print(maiores)

[9, 7, 6]

In [ ]:
#cria uma lista com os quadrados dos números de 0 a 9
quadrados = [x**2 for x in range(10)]
print(quadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Imprimir Lista
lista = [1,2,3,4,5]
print(lista)

In [ ]:
#adicionar a lista
lista = [2,4,8,10]
lista.append(6)
print(lista)

[2, 4, 8, 10, 6]

In [ ]:
#filtrar apenas os números pares de uma lista
lista = [1,2,3,4,5,6,7,8,9,10]
pares = [x for x in lista if x % 2 == 0]
print(pares)

In [ ]:
num1 = input("digite um número:")
num2 = input("digite outro número:")

result1 = int(num1+num2)
result2 = int(num1-num2)
result3 = int(num1/num2)
result4 = int(num1 * num2)

print ("Resultado da soma:"+ result1)

In [ ]:
#Strings
nome = 'Kauã'
for letra in nome:
  print(letra)

print(len(nome)) #imprime o tamanho da string
print(nome.upper()) #imprime os caracteres maiúsculos
print(nome.lower()) #Todos os caracteres minusculos

K
a
u
ã
4
KAUÃ
kauã

In [ ]:
#Lista nomes maiores que 5 letras
nomes = ['João','Ana','Epaminondas','Godofredo','Lair','Setembrino']

maisDe5 = [nome for nome in nomes if len(nome) > 4]
print(maisDe5)

['Epaminondas', 'Godofredo', 'Setembrino']

In [ ]:
#Caixa alta nomes com 4 letras ou menos
nomes = ['João','Ana','Epaminondas','Godofredo','Lair','Setembrino']

maisDe5 = [nome.upper() for nome in nomes if len(nome) <= 4]
print(maisDe5)

['JOÃO', 'ANA', 'LAIR']

In [ ]:
#Dobrar os números impares de uma lista
dobro_impares = [n*2 for n in numeros if n % 2 != 0]
print(dobro_impares)

In [ ]:
#Atribuir 2 pontos as notas menores que 5
notas = [9.0, 4.5, 2.3, 6.0, 8.2, 5.3]
notas_modificadas = [nota + 2 if nota < 5 else nota for nota in notas]
print(notas_modificadas)

In [19]:
#Filtrar apenas palavras com mais de 4 letras
nomes = ['Cristiano', 'Alien', 'Ary', 'bete', 'Já']
maisDe5 = [nome for nome in nomes if len(nome) > 4]
print(maisDe5)

['Cristiano', 'Alien']

In [20]:
#Dobrar todos Números da lista
numeros = [3,7,2,8,1,4,10]
dobro = [n*2 for n in numeros]
print(dobro)

[6, 14, 4, 16, 2, 8, 20]

In [21]:
#Selecionar apenas os números pares
numeros = [3,7,2,8,1,4,10]
pares = [n for n in numeros if n % 2 == 0]
print(pares)

[2, 8, 4, 10]

In [ ]:
#Criar uma nova lista onde os números pares são dobrados e os ímpares permanecem iguais
numeros = [3,7,2,8,1,4,10]